In [1]:
# import all the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import and read the dataset
df = pd.read_excel("E:/Eye dataset.xlsx")

In [3]:
# create a new copy
new = df.copy()

In [4]:
# first 5 rows
new.head()

,Time,Age group,Screen time,Level of dryness,Spectacles,Right lens,Left lens,Name,Parents,Gender
0,2022-05-10 16:10:27.420000,Above 20 yrs,3 to 4 hr,2 - sometimes,Yes,-1,-0.5,Aryan Rakheja,1,Male
1,2022-05-11 09:17:02.745000,18-20 yrs,more than 4 hr,0 - never,No,0,0,Sakshi,0,Female
2,2022-05-11 09:18:20.260000,Above 20 yrs,more than 4 hr,0 - never,Yes,-1.4,-1.35,Lavanya,1,Female
3,2022-05-11 09:20:34.916000,18-20 yrs,more than 4 hr,2 - sometimes,Yes,-4,-4.5,Rohan Saini,1,Male
4,2022-05-11 22:59:32.559000,18-20 yrs,3 to 4 hr,1 - rarely,Yes,-3,-3.5,Vaishnavi Sharma,1,Female

In [5]:
# Time column not required
new = new.drop(["Time"],axis=1)

In [6]:
# Name column also not required
new = new.drop(["Name"],axis=1)

In [7]:
# now again check first 5 rows
new.head()

,Age group,Screen time,Level of dryness,Spectacles,Right lens,Left lens,Parents,Gender
0,Above 20 yrs,3 to 4 hr,2 - sometimes,Yes,-1,-0.5,1,Male
1,18-20 yrs,more than 4 hr,0 - never,No,0,0,0,Female
2,Above 20 yrs,more than 4 hr,0 - never,Yes,-1.4,-1.35,1,Female
3,18-20 yrs,more than 4 hr,2 - sometimes,Yes,-4,-4.5,1,Male
4,18-20 yrs,3 to 4 hr,1 - rarely,Yes,-3,-3.5,1,Female

In [8]:
# basic info about data
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age group         299 non-null    object
 1   Screen time       299 non-null    object
 2   Level of dryness  299 non-null    object
 3   Spectacles        299 non-null    object
 4   Right lens        298 non-null    object
 5   Left lens         298 non-null    object
 6   Parents           299 non-null    int64
 7   Gender            299 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.8+ KB

In [9]:
# data types
new.dtypes

Age group           object
Screen time         object
Level of dryness    object
Spectacles          object
Right lens          object
Left lens           object
Parents              int64
Gender              object
dtype: object

In [10]:
# type of dataframe
type(new)

pandas.core.frame.DataFrame

In [11]:
# Power of lens not required
remove = ['Right lens','Left lens']

In [12]:
# drop the columns in 'remove' list as well
new = new.drop(remove,axis=1)

In [13]:
# null values
new.isnull().sum()

Age group           0
Screen time         0
Level of dryness    0
Spectacles          0
Parents             0
Gender              0
dtype: int64

In [14]:
# statistical summary 
new.describe()

          Parents
count  299.000000
mean     0.441472
std      0.497395
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [15]:
# shape of dataframe
new.shape

(299, 6)

In [32]:
new.Spectacles.value_counts()

No     158
Yes    141
Name: Spectacles, dtype: int64

In [33]:
new.duplicated().sum()

155

In [34]:
new['Screen time'].value_counts()

more than 4 hr      168
3 to 4 hr            53
1.5 hr to 3 hr       50
30 min to 1.5 hr     22
less than 30 min      6
Name: Screen time, dtype: int64

In [35]:
import random

In [36]:
new1 = new[new['Screen time']=='less than 30 min']

In [37]:
new2 = new[new['Screen time']=='30 min to 1.5 hr']

In [38]:
new3 = new[new['Screen time']=='1.5 hr to 3 hr']

In [39]:
new4 = new[new['Screen time']=='3 to 4 hr']

In [40]:
new5 = new[new['Screen time']=='more than 4 hr']

In [41]:
new1.head()

,Age group,Screen time,Level of dryness,Spectacles,Parents,Gender
76,15-18 yrs,less than 30 min,0 - never,No,0,Male
80,Above 20 yrs,less than 30 min,0 - never,Yes,1,Female
97,Above 20 yrs,less than 30 min,1 - rarely,No,0,Male
167,Above 20 yrs,less than 30 min,1 - rarely,No,1,Male
282,18-20 yrs,less than 30 min,2 - sometimes,No,0,Male

In [42]:
new1.shape

(6, 6)

In [43]:
l1 = []
for i in range(len(new1)):
    n = random.randint(0,30)
    l1.append(n)

In [44]:
l1

[24, 8, 12, 19, 21, 4]

In [45]:
new1['Screen time new']=l1

<ipython-input-45-59324de234cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new1['Screen time new']=l1

In [46]:
new1.head()

,Age group,Screen time,Level of dryness,Spectacles,Parents,Gender,Screen time new
76,15-18 yrs,less than 30 min,0 - never,No,0,Male,24
80,Above 20 yrs,less than 30 min,0 - never,Yes,1,Female,8
97,Above 20 yrs,less than 30 min,1 - rarely,No,0,Male,12
167,Above 20 yrs,less than 30 min,1 - rarely,No,1,Male,19
282,18-20 yrs,less than 30 min,2 - sometimes,No,0,Male,21

In [47]:
new2.shape

(22, 6)

In [48]:
l2 = []
for i in range(len(new2)):
    n = random.randint(30,90)
    l2.append(n)

In [49]:
new2['Screen time new']=l2

<ipython-input-49-a23fe5c1ed17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new2['Screen time new']=l2

In [50]:
new2.head()

,Age group,Screen time,Level of dryness,Spectacles,Parents,Gender,Screen time new
32,15-18 yrs,30 min to 1.5 hr,2 - sometimes,No,0,Male,35
34,15-18 yrs,30 min to 1.5 hr,4 - always,Yes,0,Female,78
37,15-18 yrs,30 min to 1.5 hr,0 - never,No,0,Female,65
48,15-18 yrs,30 min to 1.5 hr,1 - rarely,No,0,Male,48
51,15-18 yrs,30 min to 1.5 hr,0 - never,No,0,Male,58

In [51]:
new3.shape

(50, 6)

In [52]:
l3 = []
for i in range(len(new3)):
    n = random.randint(90,180)
    l3.append(n)

In [53]:
new3['Screen time new']=l3

<ipython-input-53-ccc4353bcffd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new3['Screen time new']=l3

In [54]:
new3.head()

,Age group,Screen time,Level of dryness,Spectacles,Parents,Gender,Screen time new
5,Above 20 yrs,1.5 hr to 3 hr,3 - very often,Yes,1,Male,100
7,Above 20 yrs,1.5 hr to 3 hr,1 - rarely,Yes,1,Male,96
30,15-18 yrs,1.5 hr to 3 hr,2 - sometimes,Yes,1,Male,150
36,15-18 yrs,1.5 hr to 3 hr,3 - very often,Yes,1,Male,118
38,15-18 yrs,1.5 hr to 3 hr,3 - very often,Yes,1,Male,150

In [55]:
new4.shape

(53, 6)

In [56]:
l4 = []
for i in range(len(new4)):
    n = random.randint(180,240)
    l4.append(n)

In [57]:
new4['Screen time new']=l4

<ipython-input-57-81a781f91610>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new4['Screen time new']=l4

In [58]:
new4.head()

,Age group,Screen time,Level of dryness,Spectacles,Parents,Gender,Screen time new
0,Above 20 yrs,3 to 4 hr,2 - sometimes,Yes,1,Male,210
4,18-20 yrs,3 to 4 hr,1 - rarely,Yes,1,Female,232
13,18-20 yrs,3 to 4 hr,2 - sometimes,No,0,Female,213
17,18-20 yrs,3 to 4 hr,0 - never,Yes,1,Female,185
22,18-20 yrs,3 to 4 hr,2 - sometimes,Yes,1,Female,224

In [59]:
new5.shape

(168, 6)

In [60]:
l5 = []
for i in range(len(new5)):
    n = random.randint(240,420)
    l5.append(n)

In [61]:
new5['Screen time new']=l5

<ipython-input-61-4c9101ec133d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new5['Screen time new']=l5

In [62]:
new5.head()

,Age group,Screen time,Level of dryness,Spectacles,Parents,Gender,Screen time new
1,18-20 yrs,more than 4 hr,0 - never,No,0,Female,347
2,Above 20 yrs,more than 4 hr,0 - never,Yes,1,Female,387
3,18-20 yrs,more than 4 hr,2 - sometimes,Yes,1,Male,305
6,18-20 yrs,more than 4 hr,1 - rarely,Yes,1,Male,246
8,18-20 yrs,more than 4 hr,1 - rarely,No,1,Female,356

In [63]:
lst = [new1,new2,new3,new4,new5]
new = pd.concat(lst, ignore_index=True)

In [64]:
new.head()

,Age group,Screen time,Level of dryness,Spectacles,Parents,Gender,Screen time new
0,15-18 yrs,less than 30 min,0 - never,No,0,Male,24
1,Above 20 yrs,less than 30 min,0 - never,Yes,1,Female,8
2,Above 20 yrs,less than 30 min,1 - rarely,No,0,Male,12
3,Above 20 yrs,less than 30 min,1 - rarely,No,1,Male,19
4,18-20 yrs,less than 30 min,2 - sometimes,No,0,Male,21

In [65]:
new.duplicated().sum()

5

In [66]:
new = new.drop_duplicates()

In [67]:
new.duplicated().sum()

0

In [68]:
#new = new.sample(frac=1)

In [69]:
new.head()

,Age group,Screen time,Level of dryness,Spectacles,Parents,Gender,Screen time new
0,15-18 yrs,less than 30 min,0 - never,No,0,Male,24
1,Above 20 yrs,less than 30 min,0 - never,Yes,1,Female,8
2,Above 20 yrs,less than 30 min,1 - rarely,No,0,Male,12
3,Above 20 yrs,less than 30 min,1 - rarely,No,1,Male,19
4,18-20 yrs,less than 30 min,2 - sometimes,No,0,Male,21

In [70]:
#new.to_excel("E:/Eye new.xlsx")